version: "3.9"

services:
  jupyter:
    build: .
    container_name: jupyter_notebooks
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/app/notebooks
    depends_on:
      - minio
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=admin123
      - S3_ENDPOINT=http://minio:9000